@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --primary: #0E5CDA;
    --black: #000E23;
    --gray: #5A6C8A;
    --gray-light: #ADB9CC;
    --background: #F7F9FC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
}

section.pattern{
    background-color: var(--background);
    font-size: 12px;
    height: 100vh;
    color: var(--gray);
    padding: 40px 20px 40px 20px;
}


/* Page 1 */

h1{
    color: var(--primary);
    font-size: 24px;
}

h2{
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    margin-top: 9px;
}

h3{
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}

.product-box img{
    width: 66px;
    height: 67px;
    border-radius: 4px;
    object-fit: cover;  
}

.grid-screen1 a{
    text-decoration: none;
    color: inherit;
}

.product-box{
    width: 100%;
    height: 91px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 1px rgba(90, 108, 138, 0.096);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    background-color: #FFFFFF; 
    margin: 12px 0px 12px 0px; 
}

.product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 150%;
    width: 100%;
}

.price{
    margin-top: 15px;
    width: 100%;
}

.grid-screen1{
    margin: 0 auto;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr;
}

/* page2 */
.top-menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 37px;
}

.top-menu img{
    height: 22px;
}

.cart-bg{
    background-color: #FFFFFF;
    width:  36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 1px rgba(90, 108, 138, 0.096);
}

.flex-screen2{    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
}

.product-view{
    background-color: #FFFFFF;
    padding: 12px 12px 12px 16px;
    width: 100%;
    height: 65px;
    box-shadow: 2px 2px 3px 1px rgba(90, 108, 138, 0.096);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

#screen-2 h2{
    margin: 0;
    width: 80%;
}

.price-2{
    width: 40%;
    text-align: right;
}


.product-show img{
    margin-top: 24px;
    width: 100%;
    height: 126px;
    object-fit: cover;
    border-radius: 4px;
}

.add-button{
    border: none;
    background-color: #FFFFFF;
    color: var(--primary);
    text-align: center;
    font-size: 18px;
}

.input-add{
    font-size: 18px;
    border: none;
    width: 45px;
    text-align: center;
    background-color: #FFFFFF;
}

.add-box{
    background-color: #FFFFFF;
    border: 1px solid var(--gray-light);
    width: 114px;
    padding: 8px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    margin-top: 60px;
    float: right;
    margin-bottom: 20px;
}

.main-button{
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary);
    color: #FFFFFF; 
    box-shadow: 2px 2px 3px 1px rgba(90, 108, 138, 0.096);
}

.main-button:hover{
    transform: translateY(2px);
    cursor: pointer;
}

/* page 3 */
.box-3{
    /* display: none; */
    height: 54px;
    border-radius: 4px;
}

.flex-text{
    display: flex;
    flex-direction: row;
}

.flex-text-a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-text-b{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: right;
}

.total{
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    text-align: right;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
}

/* Page 4 */

.empty-box{
    background-color: #FFFFFF;
    width: 100%;
    height: 356px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 1px rgba(90, 108, 138, 0.096);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.empty-box img{
    height: auto;
    width: 85px;
    margin: 0 auto;
    margin-top: 46px;
}

.button-c{
    width: 295px;
    margin: 0 auto;
    float: none;
    margin-bottom: 24px;  
}

.message-empty{
    width: 100%;
    font-size: 16px;
    color: var(--black);
    font-weight: 500;
    padding: 0 20px;
}

.message-empty-2{
    font-size: 14px;
    font-weight: 500;
    padding: 0 30px;
    margin-top: 12px;
    margin-bottom: 60px;
}

/* Desktop */
@media (min-width: 800px) { 
    section.pattern{
        padding: 40px 217px 40px 217px;
        margin: 0 auto;
    }

    .grid-screen1{
        grid-template-columns: 1fr 1fr;
    }

    .product-box{
        width: 430px;
    }

    .flex-screen2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-product{
        display: flex;
        flex-direction: row;
    }

    .product-text{
        width: 70%;
    }

    .product-show img{
        margin-top: 0;
        width: 236px;
        height: 153px;
    }

    .product-view{
        padding: 20px;
        width: 250px;
        height: 153px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-button{
        max-width: 182px;
        float: right;
        border-radius: 8px;
    }

    .price{
        text-align: left;
    }


    #screen-2 h2{
        margin: 20px 0px;
        width: 30%;
    }
    
    .price-2{
        text-align: none;
    }
    
    .box-3{
        width: 100%;
        height: 38px;
    }

        
    .flex-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 10px;
    }

    .flex-text-a{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-text-b{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .space-flex{
        margin: 0px 20px;
    }

    .empty-box{
        margin: 0 auto;
        max-width: 414px;
        height: 366px;
        padding: 0 100px;
    }


    .button-c{
        width: 196px;
        position: relative; 
        bottom: 35px;
        float: none;
    }


}

